@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root {
    --main-color: #33730e;
    --white: #ffffff;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 5rem;
}

section {
    padding: 2rem 7%;
}


/* Home Banner */

.home {
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: url(./images/undraw_augmented_reality_re_f0qd.svg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 60rem;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 20px rgba(4, 4, 4, 0.219);
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--main-color);
    text-shadow: 4px 3px rgba(107, 105, 105, 0.559);
}

.home .content p {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8;
    padding: 1rem 0;
    color: rgb(121, 118, 118);
}


/* About Section */

.about .row {
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgba(18, 107, 7, 0.219);
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: rgb(0, 0, 0);
}

.about .row .content p {
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    padding: 1rem 0;
    line-height: 1.8;
}

.contact .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    font-size: 3.5rem;
    color: rgb(85, 85, 85);
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: var(--border);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(18, 107, 7, 0.219);
}

.contact .row form .inputBox span {
    color: rgb(85, 85, 85);
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: rgb(85, 85, 85);
    text-transform: none;
    background: none;
}

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    display: inline;
    box-shadow: 5px 5px 20px rgba(18, 107, 7, 0.219);
}

.blogs .box-container .box {
    border: var(--border);
    width: 250px;
    flex-basis: 33%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 50px;
    text-align: center;
    transition: transform 0.5s;
    cursor: pointer;
    display: inline;
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--main-color);
}

.blogs .box-container .box .content .title:hover {
    color: var(--main-color);
}

.blogs .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

.footer {
    background: var(--black);
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--main-color);
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
    font-weight: bold;
}

.footer .share a:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: var(--main-color);
    font-weight: bold;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
    color: var(--white);
}

.footer .credit {
    font-size: 2rem;
    color: var(--main-color);
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}


/* media queries  */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active {
        right: 0;
    }
    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form {
        width: 90%;
        right: 2rem;
    }
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3 {
        font-size: 4.5rem;
    }
    .home .content p {
        font-size: 1.5rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}